.user {
  flex: 4;
  padding: 20px;
}

.user__titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user__addBtn {
  width: 80px;
  height: 30px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: darkcyan;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.user__addBtn:hover {
  background-color: rgb(6, 90, 90);
}

.user__container {
  display: flex;
  margin-top: 20px;
}

.user__display {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: -1px 5px 16px 3px rgba(0, 0, 0, 0.63);
  box-shadow: -1px 5px 16px 3px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
}
.user__update {
  flex: 2;
  margin-left: 20px;
  padding: 20px;
  -webkit-box-shadow: -1px 5px 16px 3px rgba(0, 0, 0, 0.63);
  box-shadow: -1px 5px 16px 3px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
}

.user__displayTop {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user__img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.user__topTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.user__un {
  font-weight: 500;
}

.user__ut {
  font-weight: 300;
  color: grey;
}

.user__bottomInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user__updateImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-left: 20px;
}

.user__updateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20;
}

.user__updateTitle {
  font-size: 24px;
  font-weight: 600;
}

.user__updateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.user__updateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.user__updateInput {
  width: 250px;
  border: none;
  border-bottom: 1px solid grey;
}

.user__updateIcon {
  cursor: pointer;
  margin-left: 10px;
}

.user__updateUpload {
  display: flex;
  align-items: center;
}

.user__updateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user__updateBtn {
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: royalblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.user__updateBtn:hover {
  background-color: rgb(24, 57, 158);
}
